body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 80px;
}

button {
    padding: 10px 25px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 10px;
    width: 220px;
}

.welcome {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.card {
    background: white;
    width: 60%;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}